$font-main: "Gilroy", sans-serif;
$color-main: #008ae4;
$color-secondary: #00d06c;
$color-text: #95abc6;
$color-gold: #ffa800;
$color-danger: #ff5454;
$text-color-default: #232c3c;
$border-color: #e5ecf5;
